body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    margin-top: 20px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7{
    width: 100%;
    height: auto;
    max-width: 400px;
    margin: 5px;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}


.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover{
    transform: scale(0.98);
    border-radius: 20px;
}

.box1:hover{
    box-shadow: 0px 0px 25px rgba(74, 172, 252, 1);
}

.box2:hover{
    box-shadow: 0px 0px 25px rgba(255, 161, 189, 1);
}

.box3:hover{
    box-shadow: 0px 0px 25px rgba(255, 115, 84, 1);
}

.box4:hover{
    box-shadow: 0px 0px 25px rgba(73, 197, 57, 1);
}

.box5:hover{
    box-shadow: 0px 0px 25px rgba(141, 52, 135, 1);
}

.box6:hover{
    box-shadow: 0px 0px 25px rgba(255, 187, 78, 1);
}

.box7:hover{
    box-shadow: 0px 0px 25px rgba(255, 255, 108, 1);
}

.table1,
.table2,
.table3,
.table4,
.table5,
.table6,
.table7{
    width: 400px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
}

.thead1{
    background-color: #4aacfc;
}

.thead2{
    background-color: #ffa1bd;
}

.thead3{
    background-color: #ff7354;
}

.thead4{
    background-color: #49c539;
}

.thead5{
    background-color: #8d348793;
}

.thead6{
    background-color: #ffbb4e;
}

.thead7{
    background-color: #ffff6c;
}

.thead4-eqp{
    background-color: #4aac3e;
}

.thead1 th,
.thead2 th,
.thead3 th,
.thead4 th,
.thead5 th,
.thead6 th,
.thead7 th{
    padding: 10px;
    text-align: center;
}

.thead4-eqp{
    text-align: left;
}

.thead1 img,
.thead2 img,
.thead3 img,
.thead4 img,
.thead5 img,
.thead6 img,
.thead7 img,
.thead4-eqp img{
    vertical-align: middle;
    margin-left: 10px;
    width: 20px;
    height: auto;
}

.tdata1 td,
.tdata2 td,
.tdata3 td,
.tdata4 td,
.tdata5 td,
.tdata6 td,
.tdata7 td{
    padding: 10px;
}

.tdata1 td{
    border-top: 1px solid #008cff;
    background-color: #c8e6ff;
}

.tdata2 td{
    border-top: 1px solid #ffb7c9;
    background-color: #ffd8fd;
}

.tdata3 td{
    border-top: 1px solid #ff2600;
    background-color: #ffe1d7;
}

.tdata4 td{
    border-top: 1px solid #1eff00;
    background-color: #ccffc5;
}

.tdata5 td{
    border-top: 1px solid #96008c93;
    background-color: #e2cee193;
}

.tdata6 td{
    border-top: 1px solid #f3aa47;
    background-color: #fff7d5;
}

.tdata7 td{
    border-top: 1px solid #b3b301;
    background-color: #ffffc3;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    height: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 100px;
    min-width: 400px;
}